.navbar, .brand-nav, .nav ul .navbar-nav, .card-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    padding: 20px 0;
    border-bottom: 1px solid #E8E7EB;
}
ul {list-style: none;}
a {text-decoration: none;}
.navbar .brand-nav .nav li {
    margin-left: 30px;
}
.navbar .brand-nav .nav li a {
    color: #9E9FA1;
    position: relative;
    transition: color 0.3s ease;
}
.navbar .brand-nav .nav li a:hover {
    color: #111;
    padding-bottom: 35px;
    border-bottom: 1px solid #FF7E17;
}
.navbar .card-profile .card {
    margin-right: 25px;
    width: 25px;
    position: relative;
}
.navbar .card-profile .card img,
.navbar .card-profile .profile img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.navbar .card-profile .card .sale {
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: #FF7E17;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    color: #fff;
    font-size: 8px;
    padding: 1.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .card-profile .card.show .add-to-card {
    opacity: 1;
    z-index: 999;
}
.navbar .card-profile .card .add-to-card {
    z-index: -999;
    transition: 0.3s ease;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 3px 6px rgba(1, 1, 1, 0.3);
    top: 63px;
    left: -241px;
    width: 310px;
    padding: 15px 0;
    border-radius: 8px;
    height: 233px;
}
.navbar .card-profile .card .add-to-card h4 {
    font-size: 25px;
    border-bottom: 1px solid #E8E7EB;
    padding: 0 15px 15px;
    margin: 0;
}
.navbar .card-profile .card .add-to-card .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}
.navbar .card-profile .card .add-to-card .item .info {
    margin: 15px 25px;
}
.navbar .card-profile .card .add-to-card .item .info p {
    color: #9E9FA1;
    margin: 0;
}
.navbar .card-profile .card .add-to-card .item .info p:first-child {
    margin: 0 0 7px;
}
.navbar .card-profile .card .add-to-card .item .info p b {
    color: #000;
}
.navbar .card-profile .card .add-to-card .item .delete {
    width: 30px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    border-radius: 7px;
}
.navbar .card-profile .card .add-to-card .item .delete:hover {
    background-color: #FF7E17;
    opacity: 0.3;
}
.navbar .card-profile .card .add-to-card .item .delete img {
    width: 80%;
}
.navbar .card-profile .card .add-to-card .item .product {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 55px;
    overflow: hidden;
    border-radius: 8px;
}
.navbar .card-profile .card .add-to-card .btn {
    padding: 0 15px;
}
.navbar .card-profile .card .add-to-card button {
    background-color: #FF7E17;
    font-size: 20px;
    color: #fff;
    border: 0;
    outline: 0;
    width: 100%;
    border-radius: 7px;
    padding: 15px 0;
    cursor: pointer;
}
.navbar .card-profile .card .add-to-card button:active {
    transform: scale(0.98);
}
.navbar .card-profile .card .add-to-card .item .product img {
    width: 100%;
    height: 100%;
}
.navbar .card-profile .profile {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    overflow: hidden;
}
.navbar .card-profile .profile:hover {
    border: 1px solid #FF7E17;
    border-radius: 50%;
}
.navbar .card-profile .card .add-to-card .empty-msg {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9E9FA1;
}
.navbar .bar,
.navbar .close {
    display: none;
    cursor: pointer;
}
.overlay {
    background-color: rgba(1, 1, 1, 0.3);
    position: fixed;
    display: none;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 991px) {
    .overlay.show {
        display: block;
    }
    .navbar .nav {
        transition: transform 0.3s ease-in;
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        width: 55%;
        height: 100%;
        background: #fff;
        box-shadow: 1px 3px 7px rgba(1, 1, 1, 0.3);
        z-index: 100;
    }
    .navbar .nav.show {
        transform: translateX(0);
    }
    .navbar .bar {
        margin-right: 20px;
    }
    .navbar .bar,
    .navbar .close,
    .navbar .nav ul .navbar-nav {
        display: block;
    }
    .navbar .nav ul .navbar-nav {
        margin-top: 30px;
        margin-left: -28px;
    }
    .navbar .nav ul li {
        margin-bottom: 20px;
    }
    .navbar .brand-nav .nav li a:hover {
        border: 0;
    }
}